# Exclude everything except .C .C++ headers and Makefile
/*

!.git-blame-ignore-revs
!.gitattributes
!.gitignore
!.gitmodules
!CMakeLists.txt
!Doxyfile
!MANUAL.md
!README.md

!/.github
!/benchmarks
!/cditool
!/externals
!/resources
!/src
!/tests
