# Exclude everything except .C .C++ headers and Makefile
/*

!.git-blame-ignore-revs
!.gitattributes
!.gitignore
!CMakeLists.txt
!Doxyfile
!MANUAL.md
!README.md

!/.github
!/cditool
!/resources
!/src
